<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5">

	<filter>
		<filter-name>JAMonFilter</filter-name>
		<filter-class>com.jamonapi.JAMonFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>JAMonFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- <servlet>
		<servlet-name>PropertiesReloadServlet</servlet-name>
		<servlet-class>au.com.optus.mcas.core.properties.PropertiesReloadServlet
		</servlet-class>
		<init-param>
			<param-name>PROPERTIES_BEANS</param-name>
			<param-value>fulfillment.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>PropertiesReloadServlet</servlet-name>
		<url-pattern>/admin/properties-reload.do</url-pattern>
	</servlet-mapping> -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/nbn-app-service-ws-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

</web-app>